/* Profile.css */

.profile-main {
  font-family: Arial, sans-serif;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.info-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #555;
}

/* p {
  margin: 5px 0;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
} */
